streamlit
plotly
numpy
pandas
opencv-contrib-python-headless
mediapipe==0.10.9
librosa
openai-whisper @ https://github.com/openai/whisper/archive/refs/tags/v20231117.zip
torch>=2.0
scikit-learn
scipy
soundfile
tqdm
regex